# Set the default behavior for when contributors do not have core.autocrlf
# set in their git configuration
* text=auto eol=lf

*.feature	whitespace=space-before-tab,cr-at-eol
*.md		whitespace=space-before-tab,cr-at-eol
*.markdown	whitespace=space-before-tab,cr-at-eol

